.app-header {
	background-image: url(../../assets/recordshop.jpg);
	background-position: center;
	color: white;
	background-size: cover;
}

.app-header-h2 {
	text-align: center;
	font-size: 3rem;
	padding: 180px 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

