<nav class="nav-bar">
	<ul>
		<li class="logo"><a class="logo-a" routerLink="/">ng Search</a></li>
		<li class="nav-bar-li"><a  class="nav-bar-links"routerLinkActive="active-link" routerLink="/suggested-albums">Suggested Albums</a></li>
		<li class="nav-bar-li nav-bar-new-release"><a class="nav-bar-links" routerLinkActive="active-link" routerLink="/new-releases">New Releases</a>
			<ul class="new-release-ul"> 
				<li><a class="new-release-li-a" routerLink="/new-releases/hiphop">Hip Hop</a></li>
				<li><a class="new-release-li-a" routerLink="/new-releases/alternative">Alternative</a></li>
				<li><a class="new-release-li-a" routerLink="/new-releases/electronic">Electronic</a></li>
				<li><a class="new-release-li-a" routerLink="/new-releases/pop">Pop</a></li>
				<li><a class="new-release-li-a" routerLink="/new-releases/rb%2Bsoul">R&B & Soul</a></li>
				<li><a class="new-release-li-a" routerLink="/new-releases/folk">Folk</a></li>
				<li><a class="new-release-li-a" routerLink="/new-releases/jazz">Jazz</a></li>
			</ul>
		</li>
	</ul>
</nav>