.nav-bar {
	background-color: white;
}

.nav-bar > ul {
	display: flex;
	justify-content: left;
}

.nav-bar-li  {
	margin: 10px 50px;
	padding: 10px;
	font-size: 18px;
	color: #000;
	font-weight: 100;
}

.nav-bar > ul > li > a {
	text-decoration: none;
	padding: 7px 10px;
}

.new-release-li-a {
	color: black;
}

.new-release-ul {
	position: absolute;
    top: 48px;
    background-color: white;
    padding: 10px 15px;
    margin: 0px 0 0 -10px;
    transition: visibility 0s;
    visibility: hidden;
}

.active-link {
	border-bottom: solid #D64541 1.5px;
}

 .nav-bar-li:hover {
	background-color: #D64541;
	transition: .25s;
}

.new-release-li-a:hover {
	color: #D64541;
}

.nav-bar-li:hover  .nav-bar-li > a, .nav-bar > ul > li > a:hover, .nav-bar-li:hover {
	color: white;
}

.nav-bar-new-release:hover > .new-release-ul {
	transition: visibility .35s;
	visibility: visible;
}

.new-release-ul li:hover {
	color: #D64541;
}



