<section class="app-header">
	<h2 class="app-header-h2">crates.</h2>
</section>
<main class="main">
	<h1>Suggested Albums</h1>
	<input class="search-input" placeholder="Filter by Artists" [(ngModel)]="searchText">
	<h2 class="no-albums" *ngIf="albums.length === 0"> There are currently no suggested albums.</h2>
	<ul>
		<li class="album-li" *ngFor="let album of albums | filter : searchText">
			<span class="album-border"></span>
			<h3>{{ album.artistName }}</h3>
			<img src="{{ album.artworkUrl100}}" />
			<p>{{ album.collectionName }}</p>
			<p>{{ album.collectionPrice }}</p>
			<a class="buy-btn" href="{{ album.collectionViewUrl }}" target=”_blank”><h5 class="buy-btn-h5">Buy</h5></a>
		</li>
	</ul>
</main>