.search-form {
	text-align: center;
	margin-top: 50px;
}

.search-form-btn {
	display: block;
	height: 30px;
	font-size: 18px;
	padding: 0px 15px;
	background-color: #D64541;
	color: white;
	border: 0px;
	margin: 5px auto;
}

.loader-circle {
	display: inline-flex;
    margin-top: 50px;
}

.album-main {
	text-align: center;
}

.album-show-search {
	margin: 20px auto;
}

.recent-searches-section {
	margin-top: -10px;
}

.recent-searches-h3 {
	color: #D64541;
	font-weight: 500;
}

.recent-searches-ul {
	display: flex;
	justify-content: center;
}

.recent-searches-p {
	flex-direction: row;

}

.add-btn {
	display: block;
	margin: 15px auto;
	background: white;
	border-radius: 0px;
	font-size: 12px;

}

.no-results-text {
	font-size: 20px;
    margin-top: 40px;
}

.search-form-btn:hover {
	background-color: #C0392B;
	border-color: #C0392B;
}

