<form class="search-form" (submit)="makeRequest($event)">
	<input class="search-input" (keyup)="getInput($event)" />
	<button class="search-form-btn">Search</button>
</form>
<!-- Below here will be a new component-->
<main class="album-main">
	<section *ngIf="searchTerm">
		<p class="album-show-search">You are Searching for "{{searchTerm}}"</p>
	</section>
	<section class="recent-searches-section" *ngIf="recentSearches.length > 0">
		<h3 class="recent-searches-h3">Recent Searches</h3>
		<ul class="recent-searches-ul">
			<li *ngFor="let recentSearch of recentSearches.reverse(); let i = index">
				<div *ngIf="i< 5">
					<p class="recent-searches-p"> {{ recentSearch }}</p>
				</div>
			</li>
		</ul>
	</section> 
	<div class="loader-circle" *ngIf="loading"></div>
	<section *ngIf="!loading">
		<ul>
			<li class="album-li" *ngFor="let album of albums">
				<span class="album-border"></span>
				<h3>{{ album.artistName }}</h3>
				<img src="{{ album.artworkUrl100}}" />
				<p>{{ album.collectionName }}</p>
				<p>{{ album.collectionPrice }}</p>
				<a class="buy-btn" href="{{ album.collectionViewUrl }}" target=”_blank”><h5 class="buy-btn-h5">Buy</h5></a>
				<button [attr.data-artist]="album.artistName"
						[attr.data-album]="album.collectionName"
						[attr.data-artwork]="album.artworkUrl100"
				 class="add-btn" (click)="addToSaved($event)">Add +</button>
			</li>
		</ul>
		<section *ngIf="albums.length === 0 && searchTerm.length > 0">
			<p class="no-results-text">No results found...</p>
		</section>
	</section>
</main>

